<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            text-align: center;
            padding: 20px;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
            margin-top: 10px;
        }
        .logout-btn {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .logout-btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Login Successful</h1>
        <p>Welcome back, <%= name %></p>
        <p>Age : <%= age %></p>
        <p>Place : <%= place %></p>
        <p>Pin : <%= pin %></p>
        <ul>
            <% hobbies.forEach(element => { %>
                <li><%= element %></li>
           <% }); %>
        </ul>
        <button class="logout-btn" onclick="logout()">Logout</button>
    </div>
    <%- include("footer.html") %>
    
    <script>
        
        function logout() {
            // Redirect to logout page or perform logout operation
            window.location.href = "/logout"; // Example logout page
        }
    </script>
</body>
</html>
